/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}

button{
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
}

button:hover{
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
  overflow-x: hidden;
}

body {
  line-height: 1;
  overflow-x: hidden;
  
}

main{
  min-height: 100vh;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  width: 100vw !important;
}

.main{
  overflow: hidden;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12vh;
/*   padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem; */
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 2;
}

.header__image{
  height: 100%;
  padding-left: 1rem;
}

.header__image:hover{
  cursor: pointer;
}

.header__text{
  
  color: white;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  flex-direction: row;
  transform: scale(0.8);
  margin-right: 2rem;
  
}

.header__text:hover{
  cursor: pointer;
  

}

.base__menuBtn{
  color: red;
}
.menu{
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 2rem;
  height: 100vh;
  background: red;
  z-index: 3;
  color: white;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  padding-right: 2rem;
  display: none;
  padding-top: 0.5rem;
}

.menu__links{
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  
}

.menu__link{
  transition: 0.5s all;
  color: white;
  text-decoration: none;
}

.menu__link:hover{
  cursor: pointer;
  color: #F7EFE5;
  transform: scale(1.1);
}

.menu__close{
  margin: 0 !important;
  
}

.open{
  display: flex;
}

.scrolled{
  background: white;
  animation: enter 1s;
}

.scrolled:hover{
  color: black;
}

@keyframes enter {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.welcome{
  width: 100vw;
  height: 93vh;
  
  
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  padding: 2rem;
}

.welcome__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* .text{
  background-color: white; 
  color: red;
  font-size: 7vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0; 
  mix-blend-mode: screen;
  
} */

.text{
  display: flex;
  align-items: flex-end;
  font-size: 7vw; /* Responsive font size */
  font-weight: 200;
  width: 100%;
  height: 100%;
  color: red;
  
}

.intro{
  min-height: 40vh;
  width: 100vw;
  background: red;
  color: white;
}

.intro__article{
  padding: 2rem;
}

.intro__title{
  font-size: 3rem;
}

.intro__p{
  font-size: 2rem;
}

.Projects{
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 0.1px solid red;
}

.Projects__wrapper{
  display: flex;
  width: 300vw;
  overflow: hidden;
  transition: transform 1s;
  height: 16rem;
}

.Projects__title{
  font-size: 7vw;
  color: red;
  font-weight: 100;
}

.Projects__projects{
  display: flex;
  gap: 3vw;
  width: 100vw;
}

.fadeIn{
  animation: fadin 3s infinite;

}

@keyframes fadin {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.sProject{
  width: 30vw;
  height: 15rem;
  position: relative;
  
}

.sProject__wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s all;
}

.Projects__project{
  transition: opacity 0.5s;
  
}

.sProject::after{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  transform: translateX(5%) translateY(5%);
  width: 100%;
  height: 100%;
}

.sProject__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all;
  border: 0.01rem solid black;
  filter: brightness(0.6);
}


.sProject__wrapper:hover + h3{
  opacity: 1;
}

.sProject__title{
  position: absolute;
  transition: 0.5s all;
  bottom: 0;
  bottom: 0;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}


.sProject:hover{
  cursor: pointer;
}

.sProject:hover > .sProject__wrapper{
  filter: brightness(0.4);
}

.sProject:hover > .sProject__wrapper > img{
  transform: scale(1.1);
}


.active{
  background-color: red !important;
}



/* Slideshow */


/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.non-exist{
  opacity: 0;
}

.Org{
  height: 50rem;
  width: 100vw;
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  gap: 4rem;
 
}

.Org__links{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  width: 40vw;
  
}

.Org__title{
  transition: 0.5s color;
  
}

.Org__title:hover{
  cursor: pointer;
  color: #c4c4c4;
}

.Org__title{
  font-size: 2rem;
  padding: 0;
  font-weight: 400 !important;
}

.Org__linkActive{
  color: red;
}
.Org__linkActive:hover{
  color: red;
}

.aorg{
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aorg__img{
  width: 100%;
  height: 60%;
}

.aorg__title{
  font-size: 2rem;
  color: red;
}

.aorg__content{
  font-size: 1.5rem;
  height: 60%;
  overflow-x: scroll;
}

.projectPage{
  padding-top: 20vh;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  padding-bottom: 10rem;
}

.projectPage__imgBox{
  width: 70%;
  height: 35rem;
}

.projectPage__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.45rem;
}

.projectPage__info{
  width: 60%;
}
.projectPage__title{
  color: red;
  font-size: 2.75rem;
}

.projectPage__content{
  font-size: 1.5rem;
  overflow: hidden;
}

.projectPage__button{
  display: block;
  font-size: 1.25rem;
  padding: 0;
}

.projectPage__link{
  font-size: 1.25rem;
}

.closed{
  height: 25rem;
}

.opened{
  height: auto;
}

.footer{
  height: 15rem;
  background: #0F0F0F;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__content{
  display: flex;
  width: 100%;
}

.footer__item{
  width: 25%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__title{
  font-weight: 500;
  font-size: 1.75rem;
}


.footer__link{
  transition: 0.5s all;
}
.footer__link:hover{
  cursor: pointer;
  filter: brightness(0.7);
}

@media screen and (max-width:1000px) {
  .Org{
    display: block;
    height: auto;
  }
  .Org__links{
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    
  }
  .sProject__title{
    font-size: 1.5rem;
    
    
  }

  .projectPage{
    flex-direction: column;

  }
  .projectPage__imgBox{
    width: 100%;
  }

  .projectPage__info{
    width: 100%;
  }
  
}

@media screen and (max-width:800px) {

  .footer{
    height: auto;
  }
  .footer__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 2rem;
  }

  .sProject__title{
    font-size: 1.5rem;
    padding: 0.75rem;
    padding-left: 0;
    
  }

  
}


@media screen and (max-width:500px) {
  .welcome{
    padding: 1rem;
   }
 
   .intro__article{
     padding: 1rem;
   }
 
   .Projects{
     padding: 0.5rem;
   }
 
   .Org{
     padding: 1rem;
   }
 
   .footer{
     padding: 1rem;
   }

   .sProject__title{
    font-size: 0.75rem;
    
    
  }
}