.projectPage{
    padding-top: 14vh;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.projectPage__image{
    width: 40%;
    height: 50%;

}

.projectPage__info{
    width: 60%;
}
.projectPage__title{
    color: red;
    font-size: 1.5rem;
}

.projectPage__content{
    font-size: 1.25rem;
}